// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------



$text-default: #333;
$border-color: #efefef;
$input-border:rgba(0,0,0,.2);
$background-color:  #f3f3f3;
$primary: #78ca28 ;
$primary-hover: #ba112d;
$secondary: #242931;
$success: #5b0  /*#00c8b4*/;
$danger: #ff6769;
$balance:#25a8ed;
$small:14px;
$medium:16px;
$h1: 32px;
$h2:26px;
$h3: 20px;

.h4-label{
    font-size: 12px;
    text-transform: uppercase;
}




