<table class="table">
    <tbody>
      <tr class="tableRow" *ngFor="let request of filteredList | replacementRequestsFilter:listFilter" >
        <td class="">
          <div class="placer">
            <div class="placer__img"></div>
            <p class="placer__info">
              <span>{{request.cardholder}}</span>
              <span>{{request.cardholderId}}</span>
            </p>
          </div>
        </td>
        <td class="">
          <span>CIN: {{request.cardId}}</span>
          <span>{{request.replacementId}}</span>
        </td>
        <td class="">
          <span>Requested: </span>
          <span>{{request.requestedDate | date:"fullDate"}}</span>
        </td>
        <td class="request-status">{{request.requestStatus}}</td>
      </tr>
    </tbody>
  </table>
