<table class="table">
    <tbody>
      <tr class="tableRow">
        <td class="">
          <div class="placer">
            <div class="placer__img"></div>
            <p class="placer__info">
              <span>kudakwashe</span>
              <span>Passport: DN855033</span>
            </p>
          </div>
        </td>
        <td class="">
          <span>CIN: 123123456789123</span>
          <span>Individual Card</span>
        </td>
        <td class="">
          <span>Requested: </span>
          <span>03 Mrch 2018</span>
        </td>
        <td class="request-status">Pending</td>
      </tr>
    </tbody>
  </table>
