@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/grid',
  'layout/account-menu',
  'layout/breadcrumbs',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/search-input',
  'components/file-upload',
  'components/input-files',
  'components/modal',
  'components/radio-checkbox',
  'components/table',
  'components/tabs',
  'components/toaster',
  'components/cards',
  'components/loader',
  'components/tooltip',
  'components/accordion';

  // Toaster
@import 'node_modules/angular2-toaster/toaster';

// 6. Page-specific styles
@import
  'pages/login';


// 7. Themes
@import
  'themes/default';
