<div class="panel__head">

    <h2>{{allCardholders.length}}
      <small>cardholders</small>
    </h2>
    <div class="dashboard-graph">
      <div class="dashboard-graph__item" [ngStyle]="{'width':employees.length / allCardholders.length | percent}">
      </div>

      <div class="dashboard-graph__item" [ngStyle]="{'width':individuals.length / allCardholders.length | percent}">
      </div>

      <div class="dashboard-graph__item" [ngStyle]="{'width':tenants.length / allCardholders.length | percent}">
      </div>

      <div class="dashboard-graph__item" [ngStyle]="{'width':strata.length / allCardholders.length | percent}">
      </div>
    </div>
  </div>

  <div class="panel__item">
    <div class="section-row">
      <table class="table">
        <tbody>
          <tr class="tableRow stats">
            <td class="stats__type stats--employee">Employee</td>
            <td class="">{{employees.length}} Cardholders</td>
            <td class="">{{employees.length / allCardholders.length | percent}}</td>
          </tr>
          <tr class="tableRow stats">
            <td class="stats__type stats--individual">Individual</td>
            <td class="">{{individuals.length}} Cardholders</td>
            <td class="">{{individuals.length / allCardholders.length | percent}}</td>
          </tr>
          <tr class="tableRow stats">
            <td class="stats__type stats--tenant">Tenant</td>
            <td class="">{{tenants.length}} Cardholders</td>
            <td class="">{{tenants.length / allCardholders.length | percent}}</td>
          </tr>
          <tr class="tableRow stats">
            <td class="stats__type stats--strata">Strata</td>
            <td class="">{{strata.length}} Cardholders</td>
            <td class="">{{strata.length / allCardholders.length | percent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
