/*************************************************************
CREDENTIAL MODAL
*************************************************************/

.credential {
    width: 100%;
    max-width: 850px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.credential-modal {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    background-color: #fff;
    .modal-left {
        position: relative;
        flex: 1;
        background-color: #f6f6f6;
        min-height: 520px !important;
        color: #fff;
    padding: 32px 30px;
    border-radius: 3px 0 0 3px;
 background-color: #efefef;
        li {
            position: relative;
            padding: 0 10px 0 1.333em;
            margin-bottom: .556em;
            
        }
    }
    
    .katch-bg{
        position: relative;
        overflow: hidden;
        
        .h4{
            font-size: 2em;
            font-weight: 300;
        }
        
        ul li{
            position: relative;
            
            li::before{
                position: absolute;
                content: 'E876'
            }
        }
    }
    
    .katch-bg::after{
        position: absolute;
        height: 300;
        width: 300;
        content: '';
        background-image: url(../img/handshake.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .modal-right {
        flex: 1.5;
    }
}

.credential-tabs {
    width: 100%;
    margin-top: -3em;
    li {
        width: 50%;
        border-top-left-radius: 4px;
        border-bottom: 1px solid #D2D6D9;
        background-color: #f4f4f4;
        text-align: center;
    }
    li.active {
        background-color: #fff;
    }
}

.credential-form {
    margin-top: 60px;
    padding: 24px 32px;
    .btn {
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin-top: 1em;
    }
    .divider {
        font-size: 12px;
        color: #828790;
        text-align: center;
        margin: 2em 0;
        position: relative;
        /*&::before{
            position: absolute;
            content: '';
            width: 100%;
            border: 1px solid red;
            left: 0;
            top: 7px;
            z-index: 0;
                
        }*/
    }
}

.credential-inputs {
    
    .helper {
        a {
            flex: 1;
            color: #828790;
            text-align: center
        }
    }
    label {
        position: relative;
        display: block;
        .error-msg {
            margin-bottom: 0.6em;
        }
    }
}


/*****************************
    FORGOT PASSWORD 
******************************/

#forgot-password{
    

.credential-form{
    padding: 0 24px 32px;
    margin-top: 0;
    
    #back-btn{
        padding: 0 !important;   
    }
    
    }
}
    

