<div class="main-section has-footer">
  <div class="form-width">

    <div class="form-group form-vertical">
      <label>Employee ID</label>
      <input type="text" class="input" />
      <span class="error-msg">Please enter employee ID</span>
    </div>

    <div class="form-group">
      <label>Company Name</label>
      <input type="text" class="input" />
      <span class="error-msg">Please enter company name</span>
    </div>

    <div class="form-group form-vertical">
      <label>Department</label>
      <input type="text" class="input" />
      <span class="error-msg">Please enter department</span>
    </div>

    <div class="form-group form-vertical">
      <label>Designation</label>
      <input type="email" class="input" />
      <span class="error-msg">Please enter designation</span>
    </div>

    <div class="form-separetor">
      <div class="form-group">
        <div class="form-header">Buildings</div>

        <label>Select Business Units
          <span class="pull-right">(3) Selected</span>
        </label>
        <input class="input list-searcher" placeholder="search" />
        <div class="bu-units">
          <label class="control control--checkbox">
            Facility Management
            <input type="checkbox" />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">
            Facility Management
            <input type="checkbox" />
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">
            Facility Management
            <input type="checkbox" />
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
    </div>
    <div class="section-footer">
      <a href="register-vehicles.html" class="btn primary">Continue Registration</a>
    </div>
  </div>
</div>
