<div class="main-section has-tabs has-footer">
  <div class="form-width">

    <div class="form-header">Personal Information</div>

    <div class="form-group">
      <label>User Type</label>
      <select class="input">
        <option>Select User Type</option>
        <option>Male</option>
      </select>
      <span class="error-msg">Please enter a contact person name</span>
    </div>

    <div class="form-group form-horizontal">
      <div>
        <label>First Name</label>
        <input type="text" class="input" />
        <span class="error-msg">Please enter a tenant name</span>
      </div>

      <div>
        <label>last Name</label>
        <input type="text" class="input" />
        <span class="error-msg">Please enter a tenant name</span>
      </div>
    </div>

    <div class="form-group">
      <label>Prefferd Name</label>
      <input type="text" class="input" />
      <span class="error-msg">Please enter a tenant name</span>
    </div>

    <div class="form-group">
      <label>Nationality</label>
      <input type="text" class="input" />
      <span class="error-msg">Please enter a tenant name</span>
    </div>

    <div class="form-group form-horizontal">
      <div class="form-group">
        <label>Gender</label>
        <select class="input">
          <option>Female</option>
          <option>Male</option>
        </select>
        <span class="error-msg">Please enter a contact person name</span>
      </div>

      <div class="form-group form-vertical">
        <label>Date of Birth</label>
        <input type="text" class="input" />
        <span class="error-msg">Please enter tenant phone number</span>
      </div>
    </div>


    <div class="form-group form-horizontal">
      <div class="form-group">
        <label>Identification Type</label>
        <select class="input">
          <option>Female</option>
          <option>Male</option>

        </select>
        <span class="error-msg">Please enter a contact person name</span>
      </div>

      <div class="form-group form-vertical">
        <label>Identification Number</label>
        <input type="text" class="input" />
        <span class="error-msg">Please enter tenant phone number</span>
      </div>
    </div>


  </div>

  <div class="form-separetor">
    <div class="form-width">
      <div class="form-header">Contact Information</div>
      <div class="form-group">
        <label>Street Address</label>
        <input type="text" class="input" />
        <input type="text" class="input" />
        <span class="error-msg">Please enter tenant phone number</span>
      </div>

      <div class="form-group form-horizontal">
        <div class="form-group">
          <label>State</label>
          <select class="input">
            <option>Female</option>
            <option>Male</option>
          </select>
          <span class="error-msg">Please enter a contact person name</span>
        </div>

        <div class="form-group form-vertical">
          <label>Zipcode</label>
          <input type="text" class="input" />
          <span class="error-msg">Please enter tenant phone number</span>
        </div>
      </div>

      <div class="form-group form-horizontal">
        <div class="form-group">
          <label>Handphone</label>
          <input class="input" />
          <span class="error-msg">Please enter a contact person name</span>
        </div>

        <div class="form-group form-vertical">
          <label>Workphone</label>
          <input type="text" class="input" />
          <span class="error-msg">Please enter tenant phone number</span>
        </div>
      </div>

      <div class="form-group form-horizontal">
        <div class="form-group">
          <label>Primary email</label>
          <input class="input" />
          <span class="error-msg">Please enter a contact person name</span>
        </div>

        <div class="form-group form-vertical">
          <label>Work email</label>
          <input type="text" class="input" />
          <span class="error-msg">Please enter tenant phone number</span>
        </div>
      </div>
    </div>
  </div>

  <div class="section-footer">
    <a href="register-vehicles.html" class="btn primary">Continue registration</a>
  </div>
</div>
