<table class="table">
    <tbody>
      <tr class="tableRow" *ngFor="let request of filteredList | cardRequestsFilter:listFilter" >
        <td class="">
          <div class="placer">
            <div class="placer__img"></div>
            <p class="placer__info">
              <span>{{request.businessUnit}}</span>
              <span>Request ID: {{request.requestId}}</span>
            </p>
          </div>
        </td>
        <td class="">
          <span>{{request.quantityDistributed}}/{{request.quantity}} distributed</span>
          <span>{{request.cardType.name}}</span>
        </td>
        <td class="">
          <span>Requested: </span>
          <span>{{request.requestDate | date:"fullDate"}}</span>
        </td>
      </tr>
    </tbody>
  </table>
