<table class="table">
    <tbody>
      <tr class="tableRow">
        <td class="">
          <div class="placer">
            <div class="placer__img"></div>
            <p class="placer__info">
              <span>Business Unit</span>
              <span>Request ID: 125968759</span>
            </p>
          </div>
        </td>
        <td class="">
          <span>28/70 distributed</span>
          <span>Individual cards</span>
        </td>
        <td class="">
          <span>Requested: </span>
          <span>03 Mrch 2018</span>
        </td>
      </tr>
    </tbody>
  </table>
