<div id="replacement">
  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Cardholder Details</th>
          <th class="thead">Card Inventory</th>
          <th class="thead">Date Requested </th>
          <th class="thead">Replaced By</th>
          <th class="thead">Date Replaced</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow">
          <td>
            <span>vanessa Wang Gua</span>
          </td>
          <td class="">536117073708166</td>
          <td class="">28 Dec 2018</td>
          <td class="">Admin</td>
          <td class="">28 Dec 2018</td>

          <td class="">
            <a href="#" class="btn btn-sm outline-success">Process</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
