<div id="replacement">
  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Cardholder Details</th>
          <th class="thead">Card Inventory</th>
          <th class="thead">Date Requested </th>
          <th class="thead">Replaced By</th>
          <th class="thead">Date Replaced</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow" *ngFor="let request of filteredList | replacementRequestsFilter:listFilter" >
          <td>
            <span>{{request.cardholder}}</span>
          </td>
          <td class="">{{request.cardId}}</td>
          <td class="">{{request.requestedDate | date:"fullDate"}}</td>
          <td class="">{{request.replacedBy}}</td>
          <td class="">{{request.replacedDate | date:"fullDate"}}</td>
          <td class="">
            <a href="#" class="btn btn-sm outline-success">Process</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
