<div class="section-header">
  <div class="section-flex">
      <h3>Manage Card Inventory</h3>
      <div class="searcher">
          <input type="text" placeholder="Search cards" class="input" name="filter" [(ngModel)]="filter" />
      </div>
  </div>

  <ul class="tabs">
    <li [ngClass]="{'active':currentTypeTab === 10}">
      <a (click)="filterList('all')">All</a>
    </li>
    <li [ngClass]="{'active':currentTypeTab === 2}">
      <a (click)="filterList('employee')">Employees</a>
    </li>
    <li [ngClass]="{'active':currentTypeTab === 0}">
      <a (click)="filterList('individual')">Individual</a>
    </li>
    <li [ngClass]="{'active':currentTypeTab === 1}">
      <a (click)="filterList('tenant')">Tenant</a>
    </li>
    <li [ngClass]="{'active':currentTypeTab === 3}" rel="distribution">
      <a (click)="filterList('strata')">Strata</a>
    </li>
  </ul>
</div>

<div class="main-section has-tabs">
  <section class="section-row">
      <table class="table">
          <thead>
              <tr>
                  <th class="thead">Mifare ID</th>
                  <th class="thead">Inventory Number</th>
                  <th class="thead">Card Type</th>
                  <th class="thead">Vendor</th>
                  <th class="thead">Business Unit</th>
                  <th class="thead">Date Created</th>
                  <th class="thead"></th>
              </tr>
          </thead>
          <tbody>
              <tr class="tableRow" *ngFor="let card of filteredList | cardListFilter:filter" >
                  <td class="">{{card.mifareId.toUpperCase()}}</td>
                  <td class="">{{card.cardInventoryNo}}</td>
                  <td class="">{{card.cardType}}</td>
                  <td class="">{{card.cardVendor.name}}</td>
                  <td class="">{{card.distributionId}}</td>
                  <td class="">{{card.startDate | date:'fullDate'}}</td>
                  <td>
                      <button class="btn btn-sm outline-danger">Deactivate Card</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </section>
</div>

  <div class="md-modal md-effect" id="add-numbers">
      <div class="md-content">
          <h3 class="md-header">Create Inventory Numbers</h3>
          <div class="body">
              <div class="form-group form-vertical">
                  <label>Inventory Type</label>
                  <select class="input">
                      <option>1</option>
                      <option>2</option>
                  </select>
                  <span class="error-msg">Please select inventory type</span>
              </div>

              <div class="form-group">
                  <label>Quantity</label>
                  <input type="text" class="input" />
                  <span class="error-msg">Please enter a full name</span>
              </div>

          </div>
          <div class="md-footer">
              <button class="md-close btn outline">Cancel</button>
              <button class="btn primary pull-right">Generate Inventory</button>
          </div>
      </div>
  </div>
