<div class="section-header">
  <div class="cardholder-header">
    <div class="cardholder-header__img">
      <img class="img-responsive" />
    </div>

    <div class="cardholder-header__details">
      <h3 class="cardholder-name">
        <div class="user">
          <span>{{selectdCardholder.fullName}} </span>
          <div class="cardholder-header__status">
            <button class="toggle-btn" (click)="showDeleteModal('cardholder')"
            [ngClass]="{'active': selectdCardholder.status.toString() === '0', 'inactive': selectdCardholder.status.toString() === '1'}">
              <span class="cb-value"></span>
              <span class="round-btn"></span>
            </button>
          </div>
          <a routerLink="/main/cardholders/create/cardholder/{{selectdCardholder.id}}" class="btn btn-sm primary">Edit Cardholder</a>
        </div>
        <div class="user-type">{{selectdCardholder.userType | cardTypeFormatter}}</div>
      </h3>
      <p>
        <span>{{selectdCardholder.identificationType | cardholderIdTypeFormatter}}</span>
        <span>{{selectdCardholder.identificationNo}}</span>
      </p>
      <p>
        <span>Cardholder ID:</span>
        <span>{{selectdCardholder.smartCardId}}</span>
      </p>
    </div>

  </div>
  <ul class="tabs">
    <li [ngClass]="{'active': currentTab === 'other'}" rel="blacklist">
      <a (click)="switchTab('other')">Other Details</a>
    </li>
    <li rel="cards" [ngClass]="{'active': currentTab === 'cards'}">
      <a (click)="switchTab('cards')">Cards</a>
    </li>
    <li [ngClass]="{'active': currentTab === 'vehicles'}" rel="replacement">
      <a (click)="switchTab('vehicles')">Vehicle Info</a>
    </li>
    <li [ngClass]="{'active': currentTab === 'parking'}" rel="personalization">
      <a (click)="switchTab('parking')">Parking Info</a>
    </li>
    <li [ngClass]="{'active': currentTab === 'buildings'}" rel="personalization">
      <a (click)="switchTab('buildings')">Builiding</a>
    </li>
    <li [ngClass]="{'active': currentTab === 'supplimentary'}" rel="distribution">
      <a (click)="switchTab('supplimentary')">Supplimentary</a>
    </li>
  </ul>
</div>

<div class="main-section has-cardholder-tabs">
  <div class="section-row" *ngIf="currentTab === 'other'" >
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <tr class="tableRow">
          <td>
            <span>Kudakwashe apollo shamu
            </span>
          </td>
          <td class="">Nationa Identification</td>
        </tr>
        <tr class="tableRow">
          <td>
            <span>Kudakwashe apollo shamu</span>
          </td>
          <td class="">Nationa Identification</td>
        </tr>
        <tr class="tableRow">
          <td>
            <span>Kudakwashe apollo shamu</span>
          </td>
          <td class="">Nationa Identification</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="search-list" *ngIf="currentTab === 'cards'" >
    <div class="searcher">
      <input type="text" placeholder="Search Cards" class="input" name="cardsFilter" [(ngModel)]="cardsFilter" />
    </div>
  </div>

  <div class="section-row" *ngIf="currentTab === 'cards'">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Card Inventory Number</th>
          <th class="thead">Card Type </th>
          <th class="thead">Card Status</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList" *ngFor="let card of selectdCardholder.cards | cardListFilter:cardsFilter">
          <td>
            <span>{{card.cardInventoryNo}}</span>
          </td>
          <td class="">{{card.cardType}}</td>
          <td class="">{{card.cardStatus}}</td>
          <td class="">
            <button (click)="showDeleteModal('card')" class="btn btn-sm outline-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="search-list" *ngIf="currentTab === 'vehicles'">
    <div class="searcher">
      <input type="text" placeholder="Search Vehicles" class="input" />
    </div>
    <a (click)="openModal('vehicle')" class="btn btn-sm primary">Add Vehicles</a>
  </div>

  <div class="section-row" *ngIf="currentTab === 'vehicles'">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Plate ID</th>
          <th class="thead">Car Model </th>
          <th class="thead">Car Make</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList" *ngFor="let vehicle of selectdCardholder.vehicles" >
          <td>
            <span>{{vehicle.numberPlate}}</span>
          </td>
          <td class="">{{vehicle.vehicleModel}}</td>
          <td class="">{{vehicle.brand}}</td>
          <td class="">
            <button (click)="showDeleteModal('vehicle')" class="btn btn-sm outline-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="search-list" *ngIf="currentTab === 'parking'">
    <div class="searcher">
      <input type="text" placeholder="Search Parking Information" class="input" />
    </div>
    <button class="btn btn-sm primary">Add Parking</button>
  </div>

  <div class="section-row" *ngIf="currentTab === 'parking'">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Contract ID</th>
          <th class="thead">Parking Type </th>
          <th class="thead">Parking Priviledge</th>
          <th class="thead">Start Date</th>
          <th class="thead">End Date</th>
          <th class="thead">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList" *ngFor="let carPark of selectdCardholder.carParks" >
          <td>
            <span>{{carPark.cardParkId}}</span>
            <span> {{carPark.cardholder}}</span>
          </td>
          <td class="">{{carPark.bayLocation}}</td>
          <td class="">{{carPark.bayType}}</td>
          <td class="">{{carPark.startDate | date:'fullDate'}}</td>
          <td class="">{{carPark.endDate | date:'fullDate'}}</td>
          <td class="">{{carPark.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="search-list" *ngIf="currentTab === 'buildings'">
    <div class="searcher">
      <input type="text" placeholder="Search Building Information" class="input" />
    </div>
    <a href="#" class="btn btn-sm primary">Add Building</a>
  </div>

  <div class="section-row" *ngIf="currentTab === 'buildings'">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Tenancy Agreement ID</th>
          <th class="thead">Expiry Date </th>
          <th class="thead">Activate Date</th>
          <th class="thead">Access Building</th>
          <th class="thead">Access Building Code</th>
          <th class="thead">Status</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList" *ngFor="let building of selectdCardholder.buildings" >
          <td>
            <span>Kudakwashe apollo shamu</span>
            <span> 459-454-9565</span>
          </td>
          <td class="">Nationa Identification</td>
          <td class="">Strata</td>
          <td class="">Active</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="search-list" *ngIf="currentTab === 'supplimentary'">
    <div class="searcher">
      <input type="text" placeholder="Search Supplimentary Cards" class="input" />
    </div>
  </div>

  <div class="section-row" *ngIf="currentTab === 'supplimentary'">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Cardholder Details</th>
          <th class="thead">ID Type </th>
          <th class="thead">User Type</th>
          <th class="thead">Status</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList">
          <td>
            <span>Kudakwashe apollo shamu</span>
            <span> 459-454-9565</span>
          </td>
          <td class="">Nationa Identification</td>
          <td class="">Strata</td>
          <td class="">Active</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal [modalTitle]="'Some title'" [blocking]='false' [modalId]='deleteObjectModal'>
  <app-delete-modal [modalHeader]="modalHeader" (formData)="processFormData($event)"></app-delete-modal>
</app-modal>

<app-modal [modalTitle]="'Some title'" [blocking]='false' [modalId]='addVehiclesModal'>
    <app-add-vehicle-modal (formData)="processVehicleFormData($event)" ></app-add-vehicle-modal>
  </app-modal>
