<div class="section-header">
  <div class="cardholder-header">
    <!--
                          <button class="btn btn-text">Back</button>

                              <div>
                                  <button class="btn btn-text">Edit profile</button>
                                  <button class="btn btn-text">Active</button>
                              </div>

                          -->


    <div class="cardholder-header__img">

      <img class="img-responsive" src="img/Joshua-crop.jpg" />

    </div>

    <div class="cardholder-header__details">
      <h3 class="cardholder-name">

        <div class="user">
          <span>Kudakwashe Appolo </span>
          <div class="cardholder-header__status">
            <button class="toggle-btn inactive">
              <span class="cb-value"></span>
              <span class="round-btn"></span>
            </button>
          </div>

          <a href="create-cardholder.html" class="btn btn-sm primary">Edit Cardholder</a>

        </div>




        <div class="user-type">Corporate Tenant</div>

      </h3>


      <p>
        <span>Passport Number:</span>
        <span>90604945</span>
      </p>

      <p>
        <span>Cardholder ID:</span>
        <span>90604945</span>
      </p>

    </div>


  </div>
  <ul class="tabs">
    <li class="active" rel="blacklist">
      <a href="">Other Details</a>
    </li>
    <li rel="cards">
      <a href="">Cards</a>
    </li>
    <li rel="replacement">
      <a href="">Vehicle Info</a>
    </li>
    <li rel="personalization">
      <a href="">Parking Info</a>
    </li>
    <li rel="personalization">
      <a href="">Builiding</a>
    </li>
    <li rel="distribution">
      <a href="">Supplimentary</a>
    </li>

  </ul>
</div>

<div class="main-section has-cardholder-tabs">

  <div class="section-row">

    <table class="table">
      <thead>

      </thead>
      <tbody>
        <tr class="tableRow">
          <td>
            <span>Kudakwashe apollo shamu
            </span>

          </td>
          <td class="">Nationa Identification</td>
        </tr>

        <tr class="tableRow">
          <td>
            <span>Kudakwashe apollo shamu</span>

          </td>
          <td class="">Nationa Identification</td>

        </tr>

        <tr class="tableRow">
          <td>
            <span>Kudakwashe apollo shamu</span>

          </td>
          <td class="">Nationa Identification</td>

        </tr>


      </tbody>
    </table>

  </div>

  <div class="search-list">
    <div class="searcher">
      <input type="text" placeholder="Search Cards" class="input" />
    </div>

  </div>

  <div class="section-row">


    <table class="table">
      <thead>
        <tr>
          <th class="thead">Card Inventory Number</th>

          <th class="thead">Card Type </th>
          <th class="thead">Card Status</th>

          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList">
          <td>
            <span>CDV 5682</span>

          </td>
          <td class="">Perodua</td>
          <td class="">Myvi</td>

          <td class="">
            <button class="btn btn-sm outline-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="search-list">
    <div class="searcher">
      <input type="text" placeholder="Search Vehicles" class="input" />
    </div>
    <a href="#" class="btn btn-sm primary">Add Vehicles</a>
  </div>

  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Plate ID</th>

          <th class="thead">Car Model </th>
          <th class="thead">Car Make</th>

          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList">
          <td>
            <span>CDV 5682</span>

          </td>
          <td class="">Perodua</td>
          <td class="">Myvi</td>

          <td class="">
            <button class="btn btn-sm outline-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="search-list">
    <div class="searcher">
      <input type="text" placeholder="Search Parking Information" class="input" />
    </div>
    <button class="btn btn-sm primary">Add Parking</button>
  </div>

  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Contract ID</th>

          <th class="thead">Parking Type </th>
          <th class="thead">Parking Priviledge</th>
          <th class="thead">Start Date</th>
          <th class="thead">End Date</th>
          <th class="thead">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList">
          <td>
            <span>Kudakwashe apollo shamu</span>
            <span> 459-454-9565</span>
          </td>
          <td class="">Nationa Identification</td>
          <td class="">Strata</td>
          <td class="">Active</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="search-list">
    <div class="searcher">
      <input type="text" placeholder="Search Building Information" class="input" />
    </div>
    <a href="#" class="btn btn-sm primary">Add Building</a>
  </div>

  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Cardholder Details</th>

          <th class="thead">ID Type </th>
          <th class="thead">User Type</th>
          <th class="thead">Status</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList">
          <td>
            <span>Kudakwashe apollo shamu</span>
            <span> 459-454-9565</span>
          </td>
          <td class="">Nationa Identification</td>
          <td class="">Strata</td>
          <td class="">Active</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="search-list">
    <div class="searcher">
      <input type="text" placeholder="Search Supplimentary Cards" class="input" />
    </div>

  </div>

  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Cardholder Details</th>

          <th class="thead">ID Type </th>
          <th class="thead">User Type</th>
          <th class="thead">Status</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList">
          <td>
            <span>Kudakwashe apollo shamu</span>
            <span> 459-454-9565</span>
          </td>
          <td class="">Nationa Identification</td>
          <td class="">Strata</td>
          <td class="">Active</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
