
    <div class="requests__header">
      <h4>Pending Request</h4>
      <ul class="tabs">
        <li class="active">
          <a routerLink="distribution">Card</a>
          <span class="notification">12</span>
        </li>
        <li>
          <a routerLink="blacklist">Blacklist</a>
          <span class="notification">12</span>
        </li>
        <li>
          <a routerLink="personalisation">Personalization</a>
          <span class="notification">12</span>
        </li>
        <li>
          <a routerLink="replacement">Replacement</a>
          <span class="notification">12</span>
        </li>
        <li>
          <a>Collection</a>

        </li>
      </ul>
      <div class="c-requests__searcher">
        <h4 class="head">Pending Cards Request (254)</h4>
        <input type="search" placeholder="Search request record" class="input" [(ngModel)]="filter"
              (input)="sendFilterData($event.target.value)" />
      </div>
    </div>

    <div class="c-requests">
      <div class="section-row">
        <router-outlet></router-outlet>
      </div>
    </div>

