<a class="cardholder-container">
  <div class="section-header">
    <div class="registration__process">
      <a routerLink="./main/cardholders/create/cardholder" class="step step-active">
        <span>Personal Details</span>
      </a>
      <a routerLink="{{fallbackLink}}" class="step step-active" *ngIf="showFallbackPageLink" >
        <span>{{fallbackPageTitle}}</span>
      </a>
      <a class="step step-active">
        <span>Vehicle Details</span>
      </a>
    </div>
  </div>

  <div class="main-section has-tabs has-footer">
    <button (click)="openModal('create')" class="md-trigger btn primary pull-right" data-modal="add-vehicles">Add Vehicles</button>
    <div class="clearfix"></div>
    <section class="section-row">
      <table class="table">
        <thead>
          <tr>
            <th class="thead">Plate ID</th>
            <th class="thead">Car Model</th>
            <th class="thead"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableRow productList" *ngFor="let vehicle of filteredList" >
            <td class="">{{vehicle.numberPlate}}</td>
            <td class="">{{vehicle.vehicleModel}}</td>
            <td class="">
              <button (click)="viewObject(vehicle)" class="md-trigger btn outline-danger btn-sm" data-modal="warning-modal">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <div class="section-footer">
      <a class="btn primary">Complete Registration</a>
    </div>
  </div>

  <app-modal [modalTitle]="'Some title'" [blocking]='false' [modalId]='objectDetailsModal'>
    <app-add-vehicle-modal (formData)="processFormData($event)" ></app-add-vehicle-modal>
  </app-modal>

  <app-modal [modalTitle]="'Some title'" [blocking]='false' [modalId]='deleteObjectModal'>
    <app-warning-modal [modalMessage]="deleteWarningMessage" [modalHeader]="'Remove Vehicle'"
                      (response)="processResponse($event)" >
    </app-warning-modal>
  </app-modal>
