<div>
  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Cardholder Details</th>
          <th class="thead">Date Requested </th>
          <th class="thead">Operator</th>
          <th class="thead">Date Blacklisted</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList">
          <td>
            <span>Kudakwashe apollo shamu</span>
            <span>ID: 459-454-9565</span>
          </td>
          <td class="">28 Dec 2018</td>
          <td class="">L3</td>
          <td class="">Active</td>

          <td class="">
            <a href="#" class="md-trigger btn btn-sm outline-success">Process</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
