<div>
  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Cardholder Details</th>
          <th class="thead">Date Requested </th>
          <th class="thead">Operator</th>
          <th class="thead">Date Blacklisted</th>
          <th class="thead"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList" *ngFor="let request of filteredList" >
          <td>
            <span>Kudakwashe apollo shamu</span>
            <span>ID: 459-454-9565</span>
          </td>
          <td class="">28 Dec 2018</td>
          <td class="">L3</td>
          <td class="">Active</td>
          <td class="">
            <a (click)="viewObject(request)" class="md-trigger btn btn-sm outline-success">Process</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal [modalTitle]="'Some title'" [blocking]='false' [modalId]='deleteObjectModal'>
  <app-delete-modal [modalHeader]="'Blacklist'"></app-delete-modal>
</app-modal>
