// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn{
   
    text-align: center;
    display: inline-block;
    letter-spacing: 0;
    font-size:13px;
    font-weight: bold;
    color: #777777;
    white-space: nowrap;
    border: 1px transparent solid;
    padding: 10px 20px 9px 20px;
    margin: 0;
    cursor: pointer;
    -webkit-transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
    transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
  
    align-self: center;

    
     i{
        vertical-align: middle;
        margin-top: -0.12em;
        padding:0 0.4em;
    }
}


.btn-xl {
    height: 53px;
    line-height: 53px;
}

.btn-sm{
  padding: 6px 20px 6px 20px;
    line-height: 18px;
    
}

.btn-text {
    background-color: transparent;
    height: auto !important;
    padding: 0 0.2em 0 0;
    padding-left: 0;
    line-height: 1.1em;
    
}



.primary {
    background-color:$primary;
    color: #fff !important;
    box-shadow: inset 0 -1px 0 rgba(52,58,67,0.4);
    
    &:hover {
        background-color: $primary-hover;
    }
}


.danger {
    background-color: $danger;
    border: 2px solid $primary;
    box-shadow: inset 0 -1px 0 rgba(52,58,67,0.4);
  
}

.heart{
    color: $primary;
}

.success {
    background-color: $success;
    color: #fff;
    box-shadow: inset 0 -1px 0 rgba(52,58,67,0.4);
    
    i{
        color: #fff;
    }
}

.outline {
    background-color: #f7f7f7;
    border: 1px solid $border-color;
   
}

.outline-danger{
    background-color: transparent;
    border: 1px solid $danger;
    color: $danger;
}

.outline-success{
    background-color: transparent;
    border: 1px solid $success;
    color: $success;
}

.shadow{
    box-shadow: 0 5px 34px 0 rgba(142, 140, 140, 0.46);
}


.clear{
    background-color: transparent;
    border: 0;
    color: inherit;
}

.btn-full {
    width: 100%;
}

.btn-lg {
    height: 50px;
}

.status-success, .status-default{
    padding:0.3em 0.7em;
    margin: 0.3em 0;
 
    display: inline-block;
}
.status-success{
    border:1px solid $success;
    color:  $success;
}


.status-default{
    border:1px solid $success;
    color:  $success;
}
