@charset 'UTF-8';

@import '../abstracts/mixins';

.searcher{
    position: relative;
    
    &::after{
        @include icon-font;
        content: '\E8B6';
        width: 30px;
        height: 35px;
        position: absolute;
        top: 6px;
        right: 0;
        z-index: 9;
        opacity: 0.4;
    }
}

.search-list{
    display: flex;
    margin: 1em 0;
    justify-content: space-between;

    .btn{
        
    }

    .searcher{
        flex: 1;
        margin-right: 1em;
        max-width: 60%;
    }
}