@charset 'UTF-8';

@import '../abstracts/mixins';

.searcher{
    position: relative;
    border-bottom:1px solid $border-color;
    margin-bottom: 1em;
    &::after{
        @include icon-font;
        content: '\E8B6';
        width: 30px;
        height: 35px;
        position: absolute;
        font-size: 100%;
        top: 10px;
        right: -5px;
        z-index: 9;
        opacity: 0.4;
    }
}

.search-list{
    display: flex;
    margin: 1em 0;
    justify-content: space-between;

    .searcher{
        flex: 1;
        margin-right: 1em;
        max-width: 60%;
    }
}
