.cards-row {
    display: flex;
    height: calc(100vh - 5vh);
    overflow: hidden;
}

.card-list {
    flex: 1;
    max-width: 320px;
    height: calc(100vh - 4em);
    overflow-y: scroll;
    margin-top: 1.5px;
    border-right: 1px solid $border-color;
    background-color: #fff;
    label {
        display: block;
        margin-bottom: 0.3em;
    }
    .input {
        height: 42px;
    }
    &__header {
        padding: 1em;
        border-bottom: 1px solid $border-color;
    }
}

// card STYLe ============================================
.card {
    display: flex;
    border-bottom: 1px solid $border-color;
    padding: 1.2em 1em;
    cursor: pointer;
    position: relative;
    &::hover {}
    &__details {
        flex: 5;
        width: 100%;
        font-size: 0.9em;
        padding-left: 0.5em;
        &__name {
            flex: 1;
            line-height: 1.5em;
            font-weight: bold;
            max-width: 70%;
            word-break: break-all;
        }
    }
    &__status {
        position: absolute;
        right: 5px;
        margin-top: 7px;
        font-weight: bold;
        &--active {
            color: $success;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: $success;
                left: -20px;
                top: 3px;
            }
        }
        &--deactivated {
            position: relative;
            &:after {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                background-color: $danger;
                border-radius: 5px;
                left: -20px;
                top: 3px;
            }
        }
    }
    &--active {
        background-color: rgba(0, 82, 204, .09);
        color: #0052cc;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            width: 2px;
            top: 0;
            left: 0;
            background-color: #0052cc;
        }
    }
}

// card INFO STYLE ============================================
.card-info {
    flex: 1;
    border-right: 1px solid $border-color;
}

.card-header {
    display: flex;
    padding: 2em 1em;
    padding-bottom: 1em;
    //background-color: #fff;
    //0border-width: 1px 1px 1px 0;
    //border-color: $border-color;
    //border-style: solid;
    &__details {
        display: flex;
        flex-wrap: wrap;
        div {
            width: 30vw;
            padding: 0.6em 0;
            font-size: 0.9em;
            display: flex;
            //justify-content: space-between;
            label {
                &:first-child {
                    width: 35%;
                    font-weight: bold;
                }
            }
        }
        &__name {
            font-size: 1.4em;
            font-weight: normal;
        }
    }
    &__actions {}
}

.card-transactions {
    height: calc(100vh - 4em);
    border: 1px solid transparent;
    overflow-y: scroll;
    // overflow-y:scroll;
    //background-color: #fff;
    //position: relative;
    .table thead tr {
        width: 100%;
    }
    .thead tr th {
        position: absolute;
        display: inline-block;
    }
}

.profile {
    max-width: 600px;
    background-color: #fff;
    margin: 2em auto;
    &__header {
        padding: 2em;
        border-bottom: 1px solid $border-color;
        position: relative;
        &__user-pic {
            width: 90px;
            height: 90px;
            margin: auto;
            img {
                border: 1px solid $border-color;
                border-radius: 50%;
            }
        }
    }
    &__details {
        padding: 3em 0em;
    }
}