<div class="cardholder-container">
  <div class="section-header">
    <div class="registration__process">
      <a routerLink="./main/cardholders/create/cardholder" class="step step-active">
        <span>Personal Details</span>
      </a>
      <a class="step step-active">
        <span>Tenant Details</span>
      </a>

      <a class="step">
        <span>Vehicle Details</span>
      </a>

    </div>
  </div>
  <div class="main-section has-footer">
    <div class="form-width">

        <select class="input" formControlName="tenant">
            <option value="individual" selected>Individual</option>
            <option value="employee">Employee</option>
            <option value="tenant">Tenant</option>
          </select>

      <div class="form-separetor">
        <div class="form-group">
          <div class="form-header">Buildings</div>

          <label>Select Business Units
            <span class="pull-right">(3) Selected</span>
          </label>
          <input class="input list-searcher" placeholder="search" />
          <div class="bu-units">
            <label class="control control--checkbox">
              Facility Management
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">
              Facility Management
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">
              Facility Management
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
          </div>
        </div>

      </div>


      <div class="section-footer">
        <button class="btn primary">Save Tenant</button>
      </div>
    </div>
  </div>
</div>
