<div class="panel__head">
    <h2>25,311
      <small>Active Cards</small>
    </h2>
    <div class="dashboard-graph">
      <div class="dashboard-graph__item" [ngStyle]="{'width':employeeCards.length / allCards.length | percent}">
      </div>

      <div class="dashboard-graph__item" [ngStyle]="{'width':individualCards.length / allCards.length | percent}">
      </div>

      <div class="dashboard-graph__item" [ngStyle]="{'width':tenantCards.length / allCards.length | percent}">
      </div>

      <div class="dashboard-graph__item" [ngStyle]="{'width':strataCards.length / allCards.length | percent}">
      </div>

      <div class="dashboard-graph__item" [ngStyle]="{'width':phantomCards.length / allCards.length | percent}">
      </div>
    </div>
  </div>
  <div class="panel__item">
    <div class="section-row">
      <table class="table">
        <tbody>
          <tr class="tableRow stats">
            <td class="stats__type stats--employee">Employee</td>
            <td class="">{{employeeCards.length}} Cards</td>
            <td class="">{{employeeCards.length / allCards.length | percent}}</td>
          </tr>
          <tr class="tableRow stats">
            <td class="stats__type stats--individual">Individual</td>
            <td class="">{{individualCards.length}} Cards</td>
            <td class="">{{individualCards.length / allCards.length | percent}}</td>
          </tr>
          <tr class="tableRow stats">
            <td class="stats__type stats--tenant">Tenant</td>
            <td class="">{{tenantCards.length}} Cards</td>
            <td class="">{{tenantCards.length / allCards.length | percent}}</td>
          </tr>
          <tr class="tableRow stats">
            <td class="stats__type stats--strata">Strata</td>
            <td class="">{{strataCards.length}} Cards</td>
            <td class="">{{strataCards.length / allCards.length | percent}}</td>
          </tr>
          <tr class="tableRow stats">
            <td class="stats__type stats--phantom">Phantom</td>
            <td class="">{{phantomCards.length}} Cards</td>
            <td class="">{{phantomCards.length / allCards.length | percent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
