<div class="section-header">
  <div class="section-flex">
    <h3>Manage Cardholders</h3>
    <div class="searcher">
      <input type="text" placeholder="Search cardholders" class="input" name="filter" [(ngModel)]="filter" />
    </div>

    <a routerLink="../create/cardholder" class="btn primary">Create Cardholder</a>
  </div>

  <ul class="tabs">
    <li [ngClass]="{'active':currentTypeTab === 10}"rel="blacklist">
      <a (click)="filterList(10)">All</a>
    </li>
    <li [ngClass]="{'active':currentTypeTab === 2}" rel="replacement">
      <a (click)="filterList(2)">Employees</a>
    </li>
    <li [ngClass]="{'active':currentTypeTab === 0}" rel="personalization">
      <a (click)="filterList(0)">Individual</a>
    </li>
    <li [ngClass]="{'active':currentTypeTab === 1}" rel="personalization">
      <a (click)="filterList(1)">Tenant</a>
    </li>
    <li [ngClass]="{'active':currentTypeTab === 3}" rel="distribution">
      <a (click)="filterList(3)">Strata</a>
    </li>
    <li rel="distribution">
      <a>Phantom</a>
    </li>
  </ul>

</div>

<div class="main-section has-tabs">
  <div class="tab_container">
    <div id="blacklist">
      <div class="section-row">
        <table class="table">
          <thead>
            <tr>
              <th class="thead">Cardholder Details</th>
              <th class="thead">ID Type </th>
              <th class="thead">User Type</th>
              <th class="thead">Status</th>
              <th class="thead"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="tableRow productList" *ngFor="let cardholder of filteredList | cardholderListFilter:filter" >
              <td>
                <span>{{cardholder.fullName}}</span>
                <span>{{cardholder.identificationNo}}</span>
              </td>
              <td class="">{{cardholder.identificationType | cardholderIdTypeFormatter}}</td>
              <td class="">{{cardholder.userType | cardTypeFormatter}}</td>
              <td class="">{{cardholder.status | cardholderStatusFormatter}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
