<div id="distribution">
  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Business Unit</th>
          <th class="thead">Distrubution</th>
          <th class="thead">Remaining</th>
          <th class="thead">Card Type</th>
          <th class="thead">Date</th>
          <th class="thead"> Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList" *ngFor="let request of filteredList | cardRequestsFilter:listFilter" >
          <td>
            <span>{{request.businessUnit}}</span>
          </td>
          <td class="">{{request.quantityDistributed}}</td>
          <td class="">{{request.quantity}}</td>
          <td class="">{{request.cardType.name}}</td>
          <td class="">{{request.requestDate | date:"fullDate"}}</td>
          <td class="">
            <a href="#" class="btn btn-sm outline-success">Process</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
