<div id="distribution">
  <div class="section-row">
    <table class="table">
      <thead>
        <tr>
          <th class="thead">Business Unit</th>
          <th class="thead">Distrubution</th>
          <th class="thead">Remaining</th>
          <th class="thead">Card Type</th>
          <th class="thead">Date</th>
          <th class="thead"> Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableRow productList">
          <td>
            <span>Admin</span>
          </td>
          <td class="">28/50</td>
          <td class="">22</td>
          <td class="">Strata</td>
          <td class="">03/03/2018 </td>
          <td class="">
            <a href="#" class="btn btn-sm outline-success">Process</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
