<div class="md-content">
    <h3 class="md-header">{{modalHeader}}</h3>
    <div class="body">

        <div class="md-alert">
            <i class="material-icons"></i>
            <h4>High Priority Issue Detected</h4>
            <p>{{modalMessage}}</p>
        </div>
    </div>
    <div class="md-footer">
        <button (click)="processResponse(false)" class="md-close btn outline">Cancel</button>
        <button (click)="processResponse(true)" class="btn danger pull-right">Remove</button>
    </div>
</div>
