<div class="section-header">
  <div class="section-flex">
    <h3>Settings</h3>

  </div>
</div>

<div class="main-section">

  <div class="form-width">

    <div class="form-group">
      <h3>Card Collection Settings</h3>
      <label>Collection date</label>
      <input type="text" class="input" />
    </div>

    <button class="btn primary">Save Collection Settings</button>

    <div class="form-separetor">
    <div class="form-group">
      <h3>Email reminder</h3>
      <label>Reminders days</label>
      <input type="text" class="input" />
    </div>

    <button class="btn primary">Save Reminder Settings</button>

    </div>


    <div class="form-separetor">
      <div class="form-group">
        <h3>Card Threshold</h3>
        <label>Individual Card Threshold</label>
        <input type="text" class="input" />
      </div>

      <div class="form-group">
        <label>Employee Card Threshold</label>
        <input type="text" class="input" />
      </div>

      <div class="form-group">
        <label>Tenant Card Threshold</label>
        <input type="text" class="input" />
      </div>

      <div class="form-group">
        <label>Strata Card Threshold</label>
        <input type="text" class="input" />
      </div>

      <button class="btn primary">Save Threshold Settings</button>
    </div>
  </div>
</div>

<div class="md-modal md-effect" id="add-vendor">
  <div class="md-content">
    <h3 class="md-header">Manage Card Vendors</h3>
    <div class="body">
      <div class="form-group form-vertical">
        <label>Vendor Name</label>
        <input type="text" class="input" />
        <span class="error-msg">Please enter vendor name</span>
      </div>

      <div class="form-group">
        <label>Vendor Description</label>
        <textarea class="input"></textarea>
        <span class="error-msg">Please enter a vendor description</span>
      </div>

      <div class="form-group form-vertical">
        <label>Contact Number</label>
        <input type="text" class="input" />
        <span class="error-msg">Please enter a contact number</span>
      </div>

      <div class="form-group form-vertical">
        <label>Email Address</label>
        <input type="email" class="input" />
        <span class="error-msg">Please enter an email address</span>
      </div>

      <div class="form-group">
        <label>Vendor Address</label>
        <textarea class="input"></textarea>
        <span class="error-msg">Please enter an address</span>
      </div>
    </div>
    <div class="md-footer">
      <button class="md-close btn outline">Cancel</button>
      <button class="btn primary pull-right">Save Vendor</button>
    </div>
  </div>
</div>

<div class="md-modal md-effect" id="warning-modal">
  <div class="md-content">
    <h3 class="md-header">Change Status</h3>
    <div class="body">

      <div class="form-group">
        <label>Reason</label>
        <textarea class="input"></textarea>
      </div>
    </div>
    <div class="md-footer">
      <button class="md-close btn outline">Cancel</button>
      <button class="btn danger pull-right">Remove Vendor</button>
    </div>
  </div>
</div>


<div class="md-modal md-effect" id="warning-modal">
  <div class="md-content">
    <h3 class="md-header">Remove Card Vendor</h3>
    <div class="body">

      <div class="md-alert">
        <i class="material-icons"></i>
        <h4>High Priority Issue Detected</h4>
        <p>Are you sure you want to remove "Menara Maxis" main facility from settings</p>
      </div>

      <div class="form-group">
        <label>Reason</label>
        <textarea class="input"></textarea>
      </div>
    </div>
    <div class="md-footer">
      <button class="md-close btn outline">Cancel</button>
      <button class="btn danger pull-right">Remove Vendor</button>
    </div>
  </div>
</div>
